.panel {
  width: 7%;
  background-color: #404c58;

  .panel-menu svg {
    font-size: 23px;
  }

  .panel-menu a {
    background-color: inherit;
    padding: 10px 5px;
    font-size: 12px;
    text-align: center;

    &:hover {
      color: #999;
    }

    &:active, &:focus {
      background-color: #212529;
      color: deepskyblue;
    }
  }
}

.chains {
  width: 33%;

  .chains-menu-item {
    cursor: pointer;
    color: #999;

    &:active, &:focus {
      background-color: deepskyblue;
      color: white;
    }

    &:active span {
      color: white;
    }
  }

  .search {

    .search-input {
      background-color: #F2F2F2;
      outline: none;
      padding: 8px;
      border-radius: 3px;
    }

    &:focus .search-apply{
      z-index: 2;
    }

    .search-apply {
      top: 14px;
      right: 10px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.chain-wrapper {
  width: 60%;
  background-color: #C6EBFA;
  position: relative;

  .messages-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.2);
  }

  .block-info {
    background-color: white;

    .user-block-info {
      cursor: pointer;
    }
  }

  .message {

    p {
      background-color: white;
      padding: 5px 10px;
      margin: 10px 20px 0 20px;
      display: inline-block;
      border-radius: 5px;
      font-size: 16px;
    }
  }

  .new-message-wrapper {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .input-message {
    font-size: 16px;
    width: 96%;
  }

  .message.my-message {
    margin-left: auto;
  }

  .icon {
    cursor: pointer;
    font-size: 20px;
    color: #999;
    margin-top: 5px;

    &:hover {
      color: deepskyblue;
    }
  }

  .icon.active-icon {
    color: deepskyblue;
  }

  input {
    outline: none;
    width: 88%;
  }

  button {
    background: none;
  }
}

.wrapper-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

  .menu {
    opacity: 1;
    width: 25%;
    height: 100vh;
    z-index: 2;
    background-color: white;
  }

  .icon {
    font-size: 20px;
    color: #999;
    margin-top: 5px;
  }

  span {
    margin-left: 15px;
    font-weight: bold;
  }

  .bottom-menu {
    bottom: 30px;
    left: 15px;
  }

  .menu-shadow {
    background-color: rgba(0,0,0,0.2);
    width: 75%;
  }
}

.icon {
  font-size: 20px;
  color: #999;
  margin-top: 5px;
  cursor: pointer;
}

.settings-menu-wrapper {

  .settings-menu {

    span {
      margin-left: 20px;
      font-size: 16px;
    }
  }

  .interface-size span {
    border-top: 3px solid #999;

    &:first-child {
      border-color: deepskyblue;
    }
  }
}

.close-buttons {
  top: 17px;
  right: 20px;
}

.info-modal {
  span {
    margin-left: 20px;
    font-size: 16px;
  }
}

