.wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.panel {
  width: 87px;
  background-color: #404c58;

  .panel-menu {
    background-color: inherit;

    svg {
      font-size: 23px;
    }

    li {
      background-color: inherit;
      padding: 10px 5px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: #999;
      }

      &.selected {
        background-color: #212529;
        color: deepskyblue;
      }
    }
  }
}

.chains {
  width: 100%;
  margin: 0;
  min-width: 350px;

  @media (min-width: 700px){
    width: 35%;
  }

  .chains-menu-item {
    cursor: pointer;
    color: #999;

    .user-name {
      color: black;

      span{
        color: #999;
      }
    }

    &:active, &:focus {
      background-color: deepskyblue;
      color: white;
    }

    &:focus .user-name {
      color: white;

      span{
        color: white;
      }
    }
  }

  .search {

    .search-input {
      background-color: #F2F2F2;
      outline: none;
      padding: 8px;
      border-radius: 3px;
    }

    &:focus .search-apply{
      z-index: 2;
    }

    .search-apply {
      top: 14px;
      right: 10px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .avatar {
    margin-right: 15px;
  }
}

.back {
  position: absolute;
  top: 10px;
  left: 5px;
}

.chain-wrapper {
  display: none;
  width: 100%;
  background-color: #C6EBFA;
  position: relative;
  overflow: hidden;

  @media (min-width: 700px){
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
  }

  &.show {
    position: absolute;
    display: block;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75px;
    z-index: 2;

    &.full-width {
      left: 0;
    }

    @media (min-width: 700px){
      position: relative;
      left: 0;
      width: 100%;
    }
  }

  .icon-hide {
    display: none;

    @media (min-width: 700px){
      display: inline-block;
    }
  }

  .icon-show {
    display: inline-block;

    @media (min-width: 700px){
      display: none;
    }
  }

  .messages-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.2);
  }

  .block-info {
    background-color: white;

    .user-block-info {
      cursor: pointer;
      padding-left: 15px;
      flex-grow: 1;

      @media (min-width: 700px){
        padding-left: 0;
      }
    }
  }

  .block-message {
    overflow-y: auto;
  }

  .message {

    p {
      background-color: white;
      padding: 5px 10px;
      margin: 10px 20px 0 20px;
      display: inline-block;
      border-radius: 5px;
      font-size: 16px;
    }
  }

  .new-message-wrapper {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .input-message {
    font-size: 16px;
    width: 96%;
  }

  .message.my-message {
    margin-left: auto;
  }

  .icon {
    cursor: pointer;
    font-size: 20px;
    color: #999;
    margin-top: 5px;

    &:hover {
      color: deepskyblue;
    }
  }

  .icon.active-icon {
    color: deepskyblue;
  }

  input {
    outline: none;
    width: 88%;
  }

  button {
    background: none;
  }
}

.wrapper-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

  .menu {
    opacity: 1;
    width: 65%;
    height: 100%;
    z-index: 2;
    background-color: white;
    padding-bottom: 50px;
    position: relative;

    @media (min-width: 700px){
      width: 20%;
    }

    .block-menu {
      overflow-y: auto;
    }
  }

  .icon {
    font-size: 20px;
    color: #999;
    margin-top: 5px;
  }

  span {
    margin-left: 15px;
    font-weight: bold;
  }

  .bottom-menu {
    bottom: 10px;
    left: 15px;
  }

  .menu-shadow {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.icon {
  font-size: 20px;
  color: #999;
  margin-top: 5px;
  cursor: pointer;
}
