.messages-wrapper {
  background: url("../private-layout/chain/backgraund.jpg");
  height: 100%;
}

.panel {
  width: 7%;
  background-color: slategrey;
}

.chains {
  width: 33%;
}

.chain {
  width: 60%;
}