.wrapper {
  height: 100vh;

  .form-wrapper {
    max-width: 370px;
    height: auto;
    padding: 0 10px;

    .input {
      border: none;
      outline: none;
      padding-bottom: 4px;
    }
  }
}